BEGIN:VEVENT
DTSTAMP;VALUE=DATE:<--date-->
UID:<--uuid-->
DTSTART;VALUE=DATE:<--date-->
CLASS:PUBLIC
SUMMARY;LANGUAGE=zh_CN:月末周六(班)
TRANSP:TRANSPARENT
CATEGORIES:節慶
X-APPLE-SPECIAL-DAY:ALTERNATE-WORKDAY
END:VEVENT